/* LESS Document */
/* animation */
@keyframes load_it {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
@keyframes resize_it {
  0% {
    height: 350px;
    opacity: 0;
  }
  100% {
    height: 300px;
    opacity: 1;
  }
}
@keyframes opacity_only {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*global*/
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Microsoft Yahei', 'Microsoft Yahei UI', 'Source Han Sans', sans-serif;
}
/*body & header*/
body {
  margin: 0px;
  background: url('http://p1.bqimg.com/567571/2418c63c3e76e7ce.jpg') no-repeat;
  background-size: cover;
}
header {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 300px;
  margin-top: 0px;
  padding-top: 100px;
  animation-name: resize_it;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
#my-avator {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: url('http://p1.bqimg.com/567571/753f2709e3548b4c.jpg');
  background-size: contain;
  margin: auto;
  transition-property: box-shadow;
  transition-duration: .3s;
  transition-timing-function: ease;
  box-shadow: 0px 0px 3px 1px #000000;
}
#my-avator:hover {
  box-shadow: 0px 0px 25px 10px #ffffff;
}
#my-name {
  font-size: 36px;
  width: 200px;
  height: 24px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  color: #ffffff;
}
/*social nav*/
nav {
  width: 100%;
  height: auto;
  display: block;
  animation-name: opacity_only;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
nav ul li {
  list-style: none;
  float: left;
}
.social_nav {
  height: 60px;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
div.social_nav {
  transition-property: background;
  transition-duration: .3s;
  transition-timing-function: ease;
  display: block;
  box-sizing: border-box;
  padding: 16px;
  background: #005d84;
}
div.social_nav span {
  margin-left: 16px;
}
div.social_nav:hover span {
  text-shadow: 2px 2px 4px #1e1e1e;
}
div#nav_github:hover {
  background: #000000;
}
div#nav_weibo:hover {
  background: #ff1e37;
}
div#nav_twitter:hover {
  background: #1da1f2;
}
div#nav_soundcloud:hover {
  background: #ff5500;
}
div#nav_lofter:hover {
  background: #326061;
}
div#nav_bilibili:hover {
  background: #f25d8e;
}
div#nav_pixiv:hover {
  background: #0c9cfd;
}
div.nav_blank {
  color: rgba(255, 255, 255, 0.6);
}
.icon_social {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
@media screen and (min-width: 801px) {
  nav ul li {
    width: 25%;
  }
}
@media screen and (max-width: 800px) and (min-width: 641px) {
  nav ul li {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  nav ul li {
    width: 100%;
  }
}
/*footer*/
footer {
  width: 100%;
  margin-top: 150px;
  box-sizing: border-box;
  animation-name: opacity_only;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
footer div {
  color: #ffffff;
  width: 300px;
  margin: auto;
  text-shadow: 2px 2px 5px #1e1e1e;
  text-align: center;
}
footer div a {
  text-decoration: none;
  color: #ffffff;
}
footer div a span:hover {
  border-bottom: 1px dashed #ffffff;
}
